@font-face {
  font-family: "Roboto";
  src: url("/assets/font/Roboto.ttf") format("truetype");
}

#home {
  background-image: url("/assets/img/library-bg.png");
  object-fit: cover;
  object-position: center;
  font-size: 24px;
}

#home > p {
  font-family: "Roboto", Verdana, sans-serif;
}

#mainContent {
  background-image: url("/assets/img/book-bg.png");
  object-fit: cover;
  object-position: center;
}

.card {
  background-image: url("/assets/img/white-bg.png");
  object-fit: cover;
  object-position: center;
  opacity: 90%;
}

footer {
  font-family: "Nunito", Verdana, sans-serif;
  opacity: 97%;
}

@media screen and(max-width: 768px) {
  #home {
    font-size: 20px;
  }
}

@media screen and(max-width: 420px) {
  #home {
    font-size: 16px;
  }
}
